.App
{
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.App-Header
{
  height : 6%;
  background-color:  black;
  text-align: center;
}
.Header-logo {
  animation: App-logo-spin infinite 20s linear;
  height : 60px;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
.App-Login{
  top: 60%;
  left: 49%;
}
.Profile-logo {
  height: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.login {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 250px;
  height: 320px;
  transform: translate(-50%, -50%);
  background: #F17022;
  background-size: cover;
  border-radius: 3px;
  box-shadow:0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);
}
.logoImg{
  margin-top: 10px;
  margin-left: 110px;
}
.logoText{
  margin-top: 2px;
  margin-left: 68px;
  color: #006400;
  text-shadow: 1px 1px;
}
.login a {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    margin: 4px 0 10px 0;
    margin: 10px;
}

.login a:hover {
    text-decoration: underline;
}

.Input {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 1px solid brown;
    margin: 0 20px;
}

.Input input {
    border: 0;
    background: transparent;
    text-align: center;
    padding: 2px 10px;
    margin: 25px 4px 0 4px;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
}

.Input input:required {
    box-shadow: none;
}

.Input input:focus ~ label {
    opacity: 1;
}

.Input input[type='text'] ~ label::before {
    content: "\f007";
}

.Input input[type='password'] ~ label::before {
    content: "\f023";
}

.Input label {
    font-family: FontAwesome;
    color: white;
    font-size: 14px;
    margin-top: 17px;
    transition: opacity .3s ease-in-out;
}

Input label::before {
    padding: 5px 5px 0 0;
    opacity: 0.5;
}

.SignIn {
    position: relative;
    margin: 15px 0 5px 0;
    left: 15%;
    transform: translateX(-50%);
    background: brown;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin-left: 35%;
    margin-top: 40px;
    width: 50%;
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    cursor: pointer;
    align-self: center;
    box-shadow:0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);
}

.bm-cross {
    background: #bdc3c7;
  }

.bm-menu {
    padding: 0.5em 0.5em 0;
    font-size: 1.15em;
    background: black;
    overflow: hidden;
}
nav {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position:absolute;
  width: 36px;
  height: 30px;
  left: 40px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.userProfileLabel {
    position: absolute;
    top: 14%;
    left: 78%;
    width: 280px;
    height: 25px;
    transform: translate(-50%, -50%);
    background: #F17022;
    background-size: cover;
    border-radius: 3px;
    box-shadow:0 17px 50px 0 rgba(0,0,0,.19),0 1px 1px 0 rgba(0,0,0,.24);
    text-align: center;
    color: green;
    text-align:center;
}

.logoutCss
{
  position: absolute;
  top: 11%;
  left: 15%;
  color : #F17022;
}
#logoutA1
{
  padding: 1em;
  color: #F17022;
  text-decoration: underline;
}
#a1SideMenu
{
  padding: 1em;
  color: #F17022;
  text-decoration: none;
}
.ECData{
  margin-top: 5%;
  margin-left: 2%;
  width : 100%;
}
.ECBody{
  table-layout: fixed;
  border-width :thin;
  border-style: solid;
  height : 450px;
  margin-left: 30px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width : 90%;

}
.ECLeft{
  border-width :thin;
  border-style: solid;
  width :55%;
  vertical-align:top;
}
.ECRight{
  border-width :thin;
  border-style: solid;
  padding-left:0px;
  width :45%;
}

.Auction{
  table-layout: fixed;
  height: 450px;
    width : 100%;
}
.AuctionHeader{
  height : 80px;
  border-style:solid;
  border-width:  thin;
  width : 100%;
  text-align: left;
}
.AuctionNotify{
  border-style: solid;
  border-width:  thin;
  vertical-align: bottom;
  width : 55%;
}
.AuctionCounter
{
  border-style: solid;
  border-width:  thin;
  vertical-align: bottom;
  width : 65%;
}

.AuctionMiddleFrame{
  height : 45px;
  width : 100%;
  border-style: solid;
  border-width:  thin;
}
.AuctionLowerBidStatus{
  width : 55%;
  border-style: solid;
  border-width:  thin;
}
.AuctionCurrentHighBid{
  width : 45%;
  border-style: solid;
  border-width:  thin;
}
.AuctionDetail{
  height : 250px;
  margin-left: 20%;
}
.BidFrame{
  height: 250px;
  background: #F17022;
  background-size: cover;
  border-radius: 3px;
  box-shadow:0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);
}
.BlogoText{
    margin-top: 3%;
    text-align: center;
}
.sellerTable{
  margin-top: 15%;
  margin-left: 25%;
  width : 100%;
  height : 350px;
  border-style: solid;
  border-width:  thin;
}
.stSUper{
  width : 100%;

}
.sellerDropDown{

  border-style: solid;
  border-width:  thin;
}
.st1{
    width : 55%;

}

.basePriceFrame{
  height: 250px;
  background: #F17022;
  background-size: cover;
  border-radius: 3px;
  box-shadow:0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);
}
.invalidKeyClass{
  height: 50px;
}
